target
target-eclipse
.project
.classpath
.settings
.springBeans
build
.gradle
bin
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg
dist
sqlfireclient-1.0.3.jar
*.db
*.log
*.yml
config/lobot.yml
.architect
*.xds
metadata/
.sass-cache/
Gemfile.lock
Guardfile
=======
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
